<div id="<%= dom_id event %>" class="event">
  <p>
    <strong>Slug:</strong>
    <%= event.slug %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= event.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= event.end_date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Event link:</strong>
    <%= event.event_link %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= event.source %>
  </p>

  <%= link_to "Show this event", event %>
</div>
